body {
    margin:0;
    background:#674bb1;
    height:100vh;
    outline:none;
}
button {
    outline:none;
}
.bg-img {
    position: absolute;
    background-image: url(images/bg-desktop.svg);
    height:100vh;
    width:100vw;
    z-index:-1
}
header {
    padding:60px 50px;
}
.logo-container {
    width:20%;
}

.logo-container img {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}
main {
    width:90%;
    height:fit-content;
    margin:auto;
}
main div {
    height:500px;
}
.illustration {
    display:block;
    width:100%;
    height:auto;
    overflow:auto;
}
.reg-body {
    padding-left:95px;
}
main h1 {
    margin-top:45px;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    font-family: 'Montserrat', sans-serif;
}
main p {
    font-size: 18px;
    color:#d5c6ef;
    padding-top:15px;
}
.reg-btn {
    width:190px;
    height:50px;
    border-radius:25px;
    border: none;
    margin-top: 10px;
    color:#674bb1;
    font-size: 18px;
    box-shadow: 5px 5px 20px 5px #00000042;
    transition: color 0.25s ease-in-out,
                background-color 0.25s ease-in-out;
}
.reg-btn:hover {
    color: #fff;
    background-color:#e980e7;
}
@media only screen and (max-width:600px) {
    .bg-img {
        background-image: url(images/bg-mobile.svg);
        background-size: cover;
    }
    .logo-container {
        width:45%;
    }
    main div {
        height:400px
    }
    .reg-body {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reg-body > h1 {
        margin: 0;
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }
    .reg-body > p {
        margin:25px 0 20px 0;
        font-size: 21px;
        line-height: normal;
        text-align: center;
        width: 85%;
    }
    .reg-btn, .reg-btn:hover {
        font-size:15px;
        width:250px
    }
}